services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: whisprr-dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - 5432:5432

  redis:
    image: redis/redis-stack:latest
    volumes:
      - redisdata:/data
    ports:
      - 6379:6379
      - 8001:8001

volumes:
  pgdata:
  redisdata:
